{% extends "login/base.html" %}

{% block content %}
    <table>
        <tr>
            <td>
                <p>등록일</p>
            </td>
            <td>
                <p>{{ object.reg_date }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>변경일</p>
            </td>
            <td>
                <p>{{ object.mod_date }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>상태</p>
            </td>
            <td>
                <p>{{ object.status }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>제목</p>
            </td>
            <td>
                <a href="">{{ object.title }}</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>내용</p>
            </td>
            <td>
                <p>{{ object.desc }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>쿼리</p>
            </td>
            <td>
                <p>{{ object.attach }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>압축암호</p>
            </td>
            <td>
                <p>{{ object.secret_key }}</p>
            </td>
        </tr>
    </table>
{% endblock %}