{% extends "board/base.html" %}

{% block content %}
<!--
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
-->
<!--
    <form method="post">{% csrf_token %} 
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
-->
    <form method="post">{% csrf_token %} 
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.status.errors }}
            <label for="{{ form.status.id_for_label }}">상태:</label>
            <select name="{{ form.status.html_name }}" id="{{ form.status.id_for_label }}">
                    <option value="0" {% if 0 == form.status.value %}selected="selected"{% endif %}>등록</option>
                    <option value="1" {% if 1 == form.status.value %}selected="selected"{% endif %}>승인</option>
                    <option value="2" {% if 2 == form.status.value %}selected="selected"{% endif %}>처리</option>
                    <option value="3" {% if 3 == form.status.value %}selected="selected"{% endif %}>완료</option>
                    <option value="4" {% if 4 == form.status.value %}selected="selected"{% endif %}>반려</option>
            </select>
            <!--
            {{ form.status }}
            -->
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.title.id_for_label }}">제목:</label>
            {{ form.title }}
        </div>
        <div class="fieldWrapper">
            {{ form.message.errors }}
            <label for="{{ form.desc.id_for_label }}">내용:</label>
            {{ form.desc }}
        </div>
        <div class="fieldWrapper">
            {{ form.sender.errors }}
            <label for="{{ form.attach.id_for_label }}">쿼리:</label>
            {{ form.attach }}
        </div>
        <div class="fieldWrapper">
            {{ form.sender.errors }}
            <label for="{{ form.secret_key.id_for_label }}">압축암호:</label>
            {{ form.secret_key }}
        </div>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}