{% block content %}
    <table border="1" width="300" height="300">
        <tr>
            <td>
                <!--
                <form name="form" action="/login/" method="POST">
                -->
                <form name="form" action="{% url 'loginCheck' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="user_id" value="user id" onfocus="(this.value == 'user id') && (this.value = '')" onblur="(this.value == '') && (this.value = 'user id')"/>
                    <br>
                    <input name="user_pass" value="user pass" setAttribute('type', 'password'); onfocus="if (this.value == 'user pass') {this.value = ''; setAttribute('type', 'password');}" onblur="if (this.value == '') {this.value = 'user pass';setAttribute('type', 'text');}"/>
                    <br>
                    <button type="submit">Login</button>
                </form>
                {% if 0 == loginRet %}
                <b><font color="red">Invalid your password</font></b>
                {% else %}
                <a href="">Forget your password</a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}