{% if is_paginated %}
<!--
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% else %}
            <a href="#">&laquo;</a>
        {% endif %}
        {% for page in paginator.page_range %}
            <a href="?page={{ page }}" {% if page == page_obj.number %}class="active"{% endif %}>{{ page }}</a>
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% else %}
            <a href="#">&raquo;</a>
        {% endif %}
    </div>
-->
    <div class="text-center">
        <ul class="pagination">
            <li>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% else %}
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% endif %}
            </li>
            {% for page in paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% else %}
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% endif %}
            </li>
        </ul>
    </div>
{% endif %}